*{margin: 0;padding: 0;box-sizing: border-box;}
.khungto{
    width: 100%;
    height: auto;
}

.khung1{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 30px 90px;
}
.logo1{
    width: 200px;
    margin: 100px 30px;
}
.logo2{
    width: 600px;
}
.logo2>img{
    width: 200px;
    height: 200px;
    margin: 20px 280px;
}
.logo3{
    width: 300px;
    margin: 110px 50px;
}

nav ul {
    width: 100%;
    height: 74px;
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-top: 20px;
    float: left;
    margin: 0 85px;
}

nav ul li a {
    position: relative;
        display: block;
        padding: 4px 0;
        font-family: Lato, sans-serif;
        color: #0d0e0e;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
  }
  nav ul li a::after{
        position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: #3498db;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
  }
  nav ul li a:hover{
      color: #95a5a6;
  }
  nav ul li a:hover::after{
       transform: scaleX(1);
          transform-origin: left;
  }

header{
    width: 100%;
    height: 700px;
}

.tintuc{
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}
.khungbe1 {
    width: 500px;
    height: 600px;
    margin: 0 110px;
}
.khungbe1 img{
    width: 500px;
    height: 600px;
}
.khungbe2 {
    width: 500px;
    height: 600px;
    margin: 0 80px;
}
.khungbe2 img{
    width: 500px;
    height: 600px;
}

.sanpham{
    width: 100%;
    height: 500px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sp1{
    width: 280px;
    height: 400px; 
    text-align: center;
}
.sp1 img{
    width: 280px;
    height: 280px;
}
.sp2{
    width: 280px;
    height: 400px; 
    text-align: center;
}
.sp2 img{
    width: 280px;
    height: 280px;
}
.sp3{
    width: 280px;
    height: 400px; 
    text-align: center;
}
.sp3 img{
    width: 280px;
    height: 280px;
}
.sp4{
    width: 280px;
    height: 400px; 
    text-align: center;
}
.sp4 img{
    width: 280px;
    height: 280px;
}
.sp5{
    width: 280px;
    height: 400px; 
    text-align: center;
}
.sp5 img{
    width: 280px;
    height: 280px;
}

.giohang{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.sanpham2{
    width: 100%;
    height: 1000px;
}

.sanpham2-khung1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 450px;
    grid-gap:155px;
}
.sanpham2-khung2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 450px;
    grid-gap:155px;
}
.sp2-1{
    width: 300px;
    height: 500px; 
    text-align: center;
}
.sp2-1 img{
    width: 350px;
    height: 350px;
}
.sp2-2{
    width: 300px;
    height: 500px; 
    text-align: center;
}
.sp2-2 img{
    width: 350px;
    height: 350px;
}
.sp2-3{
    width: 300px;
    height: 500px; 
    text-align: center;
}
.sp2-3 img{
    width: 350px;
    height: 350px;
}

.tinkhuyenmai{
    width: 100%;
    height: 250px;
    display: flex;
}
.tinkhuyenmai1{
    padding: 60px 60px;
}
.tinkhuyenmai2{
    padding: 0 280px;
}
footer{
    width: 100%;
    height: 350px;
    display: flex; 
}

.ft1{
    width: 450px;
    padding: 20px 130px;
}
.ft2{
    width: 480px;
    padding: 20px 130px;
}.ft3{
    width: 460px;
    padding: 20px 130px;
}


/* ctsp */

.ctsp{
    display: flex;
    width: 100%;
}
.ctsp1{
    width: 50%;

}
.ctsp1 img{
    margin: 0 110px;
    transition: transform 0.5s ease;
}
.ctsp1 img:hover{
    transform: scale(1.1);
}
.ctsp2{
    width: 50%;
}
.ctsp3{
    width: 95%;
    border: 1px solid black;
    padding: 15px 15px;
}

.quantity {
    display: flex;
    align-items: center;
  }
  
  .qty-input {
    width: 50px;
    text-align: center;
  }
  
  .plus-btn, .minus-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .plus-btn:hover, .minus-btn:hover {
    background-color: #e0e0e0;
  }

  .giohangctsp{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 180px;
    height: 30px;
  }
  .giohangctsp:hover{
    background-color: white;
    color: black;
  }

  .binhluan{
    width: 100%;
    height: 300px;
    padding: 50px 230px;
  }
  .binhluan .binhluan-gui{
    width: 60px;height: 40px; background-color: rgb(200, 200, 255);
    border: none
  }
  .binhluan .binhluan-gui:hover{
    background-color: #afdfff;
    color: white;
  }

  .danhgia{
    width: 68%;
    height: 200px;
    padding: 50px 150px;    
    border: 1px solid #e0e0e0;
    margin: 0 230px;
    background-color: beige;
  }
  .danhgia .guidanhgia{
    width: 160px;
    height: 30px;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    margin: 20px 230px;
  }
  .danhgia .guidanhgia:hover{
    background-color: rgb(254, 211, 158);
  }