*{
  box-sizing: border-box;
  font-size: 1.2vw;
  font-family: sans-serif;

}
body {
position: relative;
width: 100%;
min-height: 150vh;
margin: 0px;
}
nav{
position: fixed;
width:400px;
height: 100%;
background: #f1f1f1;
display: flex;
align-items: center;
border-right:1px solid rgba(0,0,0,0.1);
z-index: 1000;
}
nav ul{
width: 100%;
list-style: none;
overflow: hidden;
}
nav ul li a{
width: 100%;
color: #1e90ff;
font-size: 1.2em;
text-decoration: none;
display: inline-flex;
align-items: center;
padding: 15px;
transition: linear 0.5s;
}
nav ul li a ion-icon{
  margin: 0 20px;
  color:#1e90ff;
  font-size:1.2em;
  transition: linear 0.2s;
}
nav ul li a:hover{
  background :#1e90ff;
  color: white;
}
nav ul li a:hover ion-icon{
  color:white;
}
.logo{
  width: 200px;
  height:200px
}
.imagelogo{
  position:absolute;
  top:-40px;
  left: 100px;
}
.content{
position: absolute;
top: 200px;
left: 400px;
width: calc(100%-400px);
display: flex;
justify-content:center;
align-items: center;
padding: 20px;
}
.contentDM{
  position: absolute;
  left: 400px;
  width: calc(100%-400px);
  padding-left: 100px;
}
.content h3{
font-size: 1.5vw;
color: #1e90ff;
padding-left: 300px;

}
nav .menu{
  position:absolute;
  top:20px;
  right:-45px;
  width: 45px;
  height:45px;
  display: flex;
  justify-content:center;
  align-items: center;
  background:#f1f1f1;
  border-radius:0 10px 10px 0;
  cursor: pointer;
  transition: linear 0.2s
}
nav .menu ion-icon{
  color: #1e90ff;
  font-size:1.5em;
  transition:linear 0.2s;
}
nav .menu:hover{
  background: #1e90ff;
}
nav .menu:hover ion-icon{
  color:white;
}
.row{
  float: left;
  width: 100%;  
}
.mb30{
  margin-bottom: 30px;
}
.mb10{
  margin-bottom: 10px;
}
.formdslh table{
  width: 100%;
  border-collapse: collapse;
}
.formdslh table th {
  color:white;
  padding: 20px;
  background-color: #59a4ee;
}
.mt{
  margin-top: 20px;
}
.formdslh table td{
  padding: 10px 20px;
  border: 1px #ccc solid;
}
.formtitle{
  color: #666;
  padding: 20px;
}
.formtitle h1{
  font-size: 30px;
}
.formcontent input[type="text"]{
  width: 50%;
  border: 1px #ccc solid;
  padding: 5px 10px;
  border-radius: 5px;
}
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
  background-color: white;
  border: 1px #ccc solid;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1vw;
}
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover{
  background-color: #ccc;
}
.formdslh input[type="submit"],
.formdslh input[type="reset"],
.formdslh input[type="button"]{
      background-color: white;
      border: 1px #ccc solid;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1vw;
}
.formdslh input[type="submit"]:hover,
.formdslh input[type="reset"]:hover,
.formdslh input[type="button"]:hover{
background-color: #ccc;
}
.mota{
  position: absolute;
  top: 200px;
  left: 650px;
}
.textmota{
  position: absolute;
  top: 150px;
  left: 650px;
}
